/**
 * @file
 * Some css classes used by the 'open editor' link
 *
 * @ingroup PEGOEditor
 */


.open_editor_div
{
    padding-left: 25px;
	height: 32px;
	background-image:url('icon-edit.gif');
	background-repeat: no-repeat;
	display: block;
}

.open_editor_link
{
	display: block;
	float: left;
	margin-right: 40px;
}

.edit_plain_link
{
	display: block; 
	float: left;
	font-size: 0.9em;
}